* {
    --background-color: #F0F8FF;
    --text-color: #303030;
    --link-color: #483D8B;
}

@media (prefers-color-scheme: dark) {
    * {
        --background-color: #202020;
        --text-color: #E0E0E0;
        --link-color: #66B2FF;
    }
}

body {
    background-color: var(--background-color);

    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--text-color);
}

.content-center {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media (max-width: 768px) {
    .content-center {
        width: 100%;
    }
}

@media (max-width: 1250px) {
    .content-center {
        width: 80%;
    }
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--link-color);
}

a:hover {
    color: #DC143C;
    text-decoration: underline;
}

a.title {
    color: var(--text-color);
}

a.title:hover {
    text-decoration: none;
    text-shadow: #aaa 1px 0 8px;
}

.title-row {
}

.match {
    font-weight: bolder;
    color: #2E8B57;
}

.title {
    font-weight: bold;
}

.sim {
    font-size: 8px;
}

.search-img {
    margin-bottom: 8px;
}

table, th, td {
    border: 1px solid grey;
    text-align:center;
}

th,td {
    padding: 10px;
}