<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <h1>OSU Background Database</h1>
        <p>
            <strong>Total sets: </strong> 23456<br>
            <strong>Total images: </strong> 23456
        </p>
        <p>Choose the image to search:</p>
        <form action="search" method="POST" enctype="multipart/form-data">
            <input type="file" name="img_input" accept="image/png, image/jpeg">
            <input type="submit" class="" value="Search">
        </form>
    </div>
</body>

</html>